@page "/coupons/edit/{Id:int}"
@rendermode InteractiveServer
@using ProductsShop.WebUI.Models
@using ProductsShop.WebUI.Services
@inject ICouponsClientService CouponsService
@inject HttpClient Http
<div class="edit-coupon-container">
    <h3>Edit Coupon</h3>

    <EditForm Model="@Item" OnValidSubmit="HandleValidSubmit" class="edit-coupon-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Coupon Name:</label>
            <InputText @bind-Value="@Item.CouponName" class="form-control"/>
        </div>
        <div class ="form-group">
            <label>Coupon Code:</label>
            <InputText @bind-Value="@Item.CouponCode" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Discount Amount:</label>
            <InputNumber @bind-Value="@Item.DiscountAmount" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Min Amount:</label>
            <InputNumber @bind-Value="@Item.MinAmount" class="form-control" />
        </div>
        <button type="submit" class="save-button">Save</button>
    </EditForm>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    public CouponDTO Item { get; set; } = new CouponDTO();

    protected override async Task OnInitializedAsync()
    {
        Item = await CouponsService.GetCouponByIdAsync(Id);
    }

    private async Task HandleValidSubmit()
    {
        var isSuccess = await CouponsService.UpdateCouponAsync(Id, Item);
        if (isSuccess)
        {
            // Handle success
        }
        else
        {
            
        }
    }
}